@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #dcdce6;
  background-image: url('./assets/Background.png');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}